
    <h1>Colial </h1>
    
    <section id="feed-posts">
     <h4>Posts</h4>
    <% if(locals.user){%>

        <form id="new-post-form" action="/posts/create" method="POST">
            <textarea name="content" id="" cols="30" rows="3" placeholder="type here"></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
     <div id="post-list-container">
         <ul>
             <% for(post of post ){%>
                <li>
                    <p>

                        <%=post.content%>
                        <br>
                        <span><%=post.user.name%></span>
                    </p>
                    <div class="post-comments">
                        <% if(locals.user){%>
                        <form action="/comments/create" method="POST">
                           <input type="text" name="content" placeholder="type here to comment"> 
                           <input type="hidden" name="post" value="<%=post._id%>">
                           <input type="submit" value="add comment"> 
                        </form>
                            <%}%>
                    </div>
                </li>

            <% }%>
         </ul>
     </div>
    </section>