
    <h1>Colial </h1>
    
    <section id="feed-posts">
     <h4>Posts</h4>
     <form id="new-post-form" action="/posts/create" method="POST">
         <textarea name="content" id="" cols="30" rows="3" placeholder="type here"></textarea>
         <input type="submit" value="Post">
     </form>
    </section>